# Verzeichnisse, die nicht ins Repository gehören
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio / Rider / JetBrains spezifische Dateien
.vs/
*.sln
*.csproj
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# macOS spezifische Dateien
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows spezifische Dateien
Thumbs.db
Desktop.ini

# Sonstige Dateien
*.bak
*.swp
*.lock
*.log
